/* Write your code here: */
/* Group selectors */
h1, h2{
  color: blueviolet;
}
/*Child Selector*/
.box > p {
    color: firebrick;
}
/* Descendant Selector */
.box li{
    color: blue;
}
/* Chaining Selectors */
li.done{
    color: seagreen
}
/*Combining Selectors*/
ul p.done{
    font-size: 0.5rem;
}